@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
.barrasuperior{
    background-color: #1CD1B0;
    padding: 4px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    width: 100vw;
}

nav.menu{
    display: flex;
    background-color:#001D2D;
    justify-content: center;
    padding: 10px;
   
 }
 nav.menu ul{
     display: flex;
     
 }
 nav.menu ul li{
  list-style: none;
 }
 nav.menu ul li a{
     color: white;
     text-decoration: none;
     margin: 10px;
     font-family: Roboto, sans-serif;
 }
 
 
 header section{
    display: flex;
    background-color: #00669F;
    padding: 10px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width: 100vw;
    align-items: center;
   
    }

    header section h1{
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 200;
        color: white;
    }
header section img{
    width: 40px;
    margin-right: 20px;
    
}
 
   
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
  
span.signomas{
position: fixed;
top:50%;
right: 0;
background-color:#00669F;
border-radius: 60%;
padding: 10px 20px;
font-size: 2rem;
color: white;
font-weight: bold;




}


/*Sección superheroes*/
.superheroes{
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
width: 100vw;
margin-top: 5%;
}
/*Artículo*/
article{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 300px;
    min-width: 250px;
    height: 600px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index:-10;
}


.harley{
    display: none;
}
.fondotarjeta{
    position: absolute;
    size: cover;
    width: 100%;
    height: 180px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    top: -20px;
    z-index: -10;
   
}
 
div.dostarjetas{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
    
}


i.fa-heart {
    position: absolute;
    align-self: flex-start;
    color: red;
    font-size: 1rem;
    left: 5%;
    top: 5px;
    z-index: 10;
}
.fotoperfil{
    margin-top: 30%;
    border-radius: 50%;
    width: 30%;
    
}

.fotosuperman1{
    display: none;
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, sans-serif; 
    font-family: Roboto, sans-serif;
}

.parrafoArticulo{
    
    line-height: 18.75px;
    font-family: Roboto;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

button{ 
    position: relative;
    margin-bottom: 15px;
    background-color: #00669F;
    padding: 10px 50px;
    color: white;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}
/*Footer*/

footer{
  display: flex;  
  position: absolute;
  justify-content: flex-end;
  margin-top: 5%;
    padding: 20px;
    background-color: #06669F;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.logoGit{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
img.logoGithub{
    width: 100px;
    align-content: flex-end;
}

/*Contacto*/

form{
    display: flex;
    flex-direction: column;
   align-content: space-around;
   align-items: center;
    margin: 20px;
    width: 50vw;
    min-width: 250px;
}

form input, form select.pais{
    margin: 10px;
    padding: 10px;
    width: 100%;
    color: #888888;
}
.pais{
    color: black;
}
form textarea{
    width: 100%;
    margin: 10px;
}
.dosbotones{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.dosbotones .btn{
    margin: 10px;


}
.largo{
    width: 100%;
}
.aqua{
    background-color: #1CD1B0;
    border-radius: 20px;
    color: black;
 width: 100px;
    padding: 10px;
    
  
}
.gris{
    background-color: #888888;
    border-radius: 20px;
width: 100px;
padding: 10px;
}

p.textCenter{
    text-align: center;
}
@media (min-width: 665px){
    /* Tablets */
   
        article{
            
            width: 35%;
            min-width: 300px;
        }
        
        .fotoperfil{
            margin-top: 30%;
            width: 30%;
           
        }
        .fotosuperman2{
            display: none;
        }
        .fotosuperman1{
            display: flex;
        }
        
        .harley{
            display: flex;
        }
}
    
@media (min-width: 815px){
    /* Laptop */
    
   
    article{
            width: 20%;

        }

        .fotoperfil{
            margin-top: 35%;
        }
        .fotosuperman2{
            display: none;
        }
        .fotosuperman1{
            display: flex;
        }
        .harley{
            display: flex;
        }
       }

@media (min-width: 1000px){
    /* PC Escritorio */
    nav.menu{ 
        justify-content: flex-end;
       
     }
        article{
            
            max-width: 280px;
            min-width: 280px;
        }

        .fotoperfil{
            margin-top: 35%;
        }
        .fotosuperman2{
            display: none;
        }
        .fotosuperman1{
            display: flex;
        }
        .harley{
            display: flex;
        }
       }
